*
{
    position: relative;
    top : 10px;
}
#footer
{
    position: relative;
    top:10rem;
}
.foorterText
{
    text-align: center;
}
#register
{
    font-weight: bold;
}
.form-label
{
    font-size: large;
    font-style: oblique;
    font-weight: bold;
}