*
{
    position: relative;
    top : 10px;
}
#footer
{
    position: relative;
    top:10rem;
}
.foorterText
{
    text-align: center;
}
.bg
{
    font-weight: bold;
    position: relative;
    top:-2.5px;
}