<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
           <h1>Please select an option</h1>   
          <ul>
           
            <div class="form-outline mb-4">
              <li> <button class="nav-link bg" (click)="intern()">Intern Details <span class="sr-only"></span></button>  </li>                
            </div>
          
          
            <div class="form-outline mb-4">
              <li>  <button class="nav-link bg" (click)="approve()">Approve Intern <span class="sr-only"></span></button>  </li>                
            </div>
          
          
            <div class="form-outline mb-4">
              <li>  <button class="nav-link bg" (click)="ticket()">Ticket Details <span class="sr-only"></span></button>  </li>              
            </div>
          
           
            <div class="form-outline mb-4">
              <li>  <button class="nav-link bg" (click)="resolve()">Resolve Ticket <span class="sr-only"></span></button>                  
            </div>

            <div class="form-outline mb-4">
              <li>  <button class="nav-link bg" (click)="log()">Get Logs <span class="sr-only"></span></button>                  
            </div>
          
          </ul>     
   
        </div>
      </div>
    </div>
    <div id="footer"
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

      <div class="text-white mb-3 mb-md-0, foorterText ">
        Copyright © 2023. All rights reserved.
      </div>
    </div>
  </section> 
   